#banner{
    width:100%;
    margin-bottom:-6px;
}
.box{
    background-color: rgb(139, 84, 17);
    text-align: center;
    margin-top: -200px;
    width: 100%px;
    margin: 0px;
}

a{

    text-decoration: none;
}
.save-tree{
    width:90vw;
    text-align: center;
    padding: 1vw;
    position: relative;
    font-size: 1vw;

}

#tree{
    width: 60%;
}
.save-box{
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%,-50%);
    color:black;
}
h1{
    display: inline;
}
.save-title{
    font-weight: 300;
}
.save-para{
    color: rgb(100, 93, 93);
    margin-left: 36%;
    margin-right: 35%;
    text-align: left;
}
#donate{
    background-color:rgb(0, 209, 0);
    color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgb(0, 220, 0) ;
    margin-top: 10px;
    font-size: 1vw;   
  

}
#know{
    background-color:rgb(214, 237, 214);
    color: rgb(53, 52, 52);
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgb(187, 190, 187) ;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 1vw;

}
a{
    color: white;
    font-size:1vw;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    margin-block-end: none;
}
button{
    position: absolute;
    margin: 20%;
    left:35%;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
.copyright{
    color: rgb(119, 110, 110);
    font-size: 1vw;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
    color: white;
}.social2{
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
} 
.footer{
    position: relative;
    text-align: center;
    background-color:  rgb(139, 84, 17);
    width: 100%;
}
#st{
    border-radius: 100px;
    width: 1vw;
    height: 1vw;
    margin-left: 2%;
    margin-right: 2%;

    

}
a img{
    border-radius: 100px;
    margin-left: -20px;
    margin-bottom: 10px;
}
table{
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: -6px;

}
.tree-box{
    background: url(bg-tree.jpg);
}
#photo-graph{
    background-color: white;
    color:rgb(194, 79, 37);
    font-size: 1vw;
    font-weight: 600;
} 


