*{
    margin: 0;
}
#banner{
    width:100%;
    margin-bottom:-6px;
}
.banner{
    width: 100%;
}
.box{
    background-color: rgb(139, 84, 17);
    text-align: center;
    margin-top: -200px;
    width: 100%;
    margin: 0px;

    
   

}

table{
    border-collapse: separate;
    border-spacing: 0px 0px 0px 20px;
    width:1500px;
    margin: 0px;
}
.johna{
    margin-top: 50px;
    background-color:  rgb(139, 84, 17);
    color: white;
    text-align: center;
    border: 1px;
    border-color: black;
    width:100%;}
.fooditem{
    text-align: center;
}    
#food1{
    width:20vw;
}
#photo-graph{
    background-color: white;
    color:rgb(194, 79, 37);
    font-size: 1vw;
    font-weight: 600;
} 
p{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}    
#photos{
    color: white;
    text-decoration-line:none;
}
#location{
    color: white;
    text-decoration: none;
}
#campaings{
    color: white;
    text-decoration:none;
}
.copyright{
    color: rgb(119, 110, 110);
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 15px;
    color: white;
}.social2{
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
} 
.footer{
    position: relative;
    text-align: center;
    background-color:  rgb(139, 84, 17);
    width: 100%;
}
#st{
    border-radius: 100px;
    margin-left: 2%;
    margin-right: 2%;

    

}
a img{
    border-radius: 100px;
    margin-left: -20px;
    margin-bottom: 10px;
}

a{
    color: white;
    font-size:1vw;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    margin-block-end: none;
}
